<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${reports-dir}/job.log</file>
        <encoder>
            <pattern>%-6relative %.-1level [%thread] %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>